<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target xsi:type="File"
            name="ErrorFile"
            fileName="${basedir}/Logs/${shortdate}.log"
            layout="${longdate}|${level}|${logger}|${message}${newline}${exception:format=ToString,StackTrace}" />

    <target xsi:type="File"
            name="TraceFile"
            fileName="${basedir}/Logs/${shortdate}_trace.log"
            layout="${longdate}|${level}|${logger}|${message}" />

    <target xsi:type="Console"
            name="Console"
            layout="${message}" />
  </targets>
  <rules>
    <logger name="*"
            minlevel="Debug"
            writeTo="ErrorFile" />

    <!--
    <logger name="*"
            level="Trace"
            writeTo="TraceFile" />
    -->
    
    <logger name="*"
            minlevel="Trace"
            writeTo="Console" />
  </rules>
</nlog>