<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MapQuestKey" value="MAPQUEST_KEY" />
    <add key="HtmlDirectory" value="Logs/HTML" />
    <add key="LogsDirectory" value="Logs" />
    <add key="AzureBlobStorageConnectionString" value="UseDevelopmentStorage=true" />
    <add key="AzureBlobStorageContainer" value="odjfs" />
  </appSettings>
</configuration>